<div data-ng-controller="MainController">
    <div class="header">
      <h3 class="text-muted">Rainbow Hamburger</h3>
    </div>
    
    <div class="jumbotron">{{datum.message}}
    </div>
    
    <div class="row">
    </div>
    
    <div class="footer">
      <p><span class="glyphicon glyphicon-heart"></span> Isaac Palmer!</p>
    </div>
</div>