<div data-ng-controller="NavController">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Rainbow Hamburger</a>
    </div>
    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <input type="text" class="form-control d" data-ng-model="datum.message"/>
      </form>
    </div>
  </div>
</div>