<div id="shell" class="shell">
    <div id="nav-container" data-ng-include="'views/nav.html'" class="navbar navbar-inverse navbar-fixed-top nav" role="navigation" ></div>
    <div class="container-fluid">
      <div class="row">
        <div id="actions-container" data-ng-include="'views/actions.html'"  class="col-sm-3 col-md-2 sidebar"></div>
        <div id="main-container" data-ng-include="'views/main.html'" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"></div>
      </div>
    </div>
</div>
